ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: dora.test.com
      paths:
        - path: /
          pathType: ImplementationSpecific

service:
  lake:
    type: ClusterIP
    port: 8080