ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  hosts:
    - host: dora.test.com
      paths:
        - path: /grafana(/|$)(.*)
          pathType: ImplementationSpecific
        - path: /(/?|$)(.*)
          pathType: ImplementationSpecific